$gray-light-tint: #f8f9fa;
$gray-light: #e9ecef;
$gray-light-shade: #ced4da;

$gray-dark-tint: #495057;
$gray-dark: #343a40;
$gray-dark-shade: #212529;

$color-primary-tint: #39997c;
$color-primary: #087f5b;
$color-primary-shade: #066649;
