* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 10px solid #087f5b;
}

.heading-primary {
  font-size: 4.4rem;
  line-height: 1;
  letter-spacing: -1px;
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1;
  letter-spacing: -1px;
}

.heading-tertiary {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 700;
}

.paragraph {
  font-size: 1.8rem;
  line-height: 1.6;
}

.u-m-b-vs {
  margin-bottom: 1.2rem;
}

.u-m-b-s {
  margin-bottom: 2.4rem;
}

.u-m-b-m {
  margin-bottom: 3.2rem;
}

.u-m-b-l {
  margin-bottom: 4.8rem;
}

.u-m-b-vl {
  margin-bottom: 8rem;
}

.btn {
  display: inline-block;
}
.btn:link, .btn:visited {
  text-decoration: none;
  color: #e9ecef;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 100rem;
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}
.btn:hover {
  background-color: #39997c;
  transform: translateY(-3px);
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
}
.btn--green {
  background-color: #087f5b;
  padding: 1.6rem 3.2rem;
}
.btn--product {
  padding: 0.4rem 0.8rem;
}

.products__items {
  display: flex;
  gap: 6.4rem;
}
.products__item {
  flex: 0 1 33.33%;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
}
.products__item__image {
  width: 100%;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}
.products__item__textbox {
  padding: 2.4rem;
}
.products__item__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.products__item__li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.products__item__logo {
  font-size: 2.4rem;
  color: #087f5b;
}
.products__item__text {
  font-size: 1.6rem;
}
.products__item__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  margin-top: 4.8rem;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.header__textbox {
  width: 50%;
}
.header__imagebox {
  width: 50%;
}
.header__image {
  width: 100%;
  border-radius: 1.2rem;
}

.testimonials {
  display: flex;
  gap: 6.4rem;
  background-color: #087f5b;
  padding: 3.2rem;
  border-radius: 1.2rem;
  color: #e9ecef;
  align-items: center;
}
.testimonials__imagebox {
  flex: 0 1 90%;
}
.testimonials__image {
  width: 100%;
  border-radius: 1.2rem;
}
.testimonials__header {
  font-size: 2.4rem;
}
.testimonials__text {
  font-style: italic;
}
.testimonials__author {
  font-size: 1.6rem;
  color: #cee5de;
}

.features__items {
  display: flex;
  gap: 8rem;
}
.features__item {
  flex: 0 1 33.33%;
}
.features__icon {
  font-size: 3.2rem;
  color: #087f5b;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
  row-gap: 12.8rem;
}

.footer__text {
  font-size: 1.4rem;
  color: #495057;
  margin-bottom: 6.4rem;
}

/*# sourceMappingURL=output.css.map */
