.container {
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
  row-gap: 9.6rem;
}

.header {
}
.features {
}
.testimonials {
  background-color: lightpink;
}
.products {
  background-color: lightseagreen;
}
.footer {
  background-color: lightgoldenrodyellow;
}
